*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #cefeff;
}

section{
    width: 1000px;
    height: 600px;
    position: absolute;
    background-color: blanchedalmond;
    
    /* 가로 세로 가운데정렬 설정해야함 */
}

section .sky {
    width: 100%;
    height: 100%;
    position: relative;
}

section .sky .sun {
    position: absolute;
    width: 180px;
    display: block;
    left: 50%;
    margin-left: -90px;
    transform-origin: 50% 600px;
    /* 애니메이션걸어줘야함  top을 위로 올려줘야 할거임*/

}
/* moon 해보기 */

section .sky .moon{
    width: 160px;
}

section .sky .cloud1{
    width: 160px;
    transform: translate(40px);
    transition: 5s;

}
section .sky .cloud2{
    width: 90px;
    animation-name: cloud2;

}

/* city */

section .city {
    position: absolute;
    width: 100%;

}

section .city .city_img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

@keyframes cloud2{
    
}


/* keyframes 걸어줘야됨 */